@model IEnumerable<AgriEnergyConnect.Models.Product>

@{
    ViewData["Title"] = "View Products";
}

<h2>Products by Category</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Farmer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.PoductName</td>
                <td>@product.ProductDes</td>
                <td>@product.Catergry</td>
                <td>@product.Farmer.FirstName @product.Farmer.LastName</td>
            </tr>
        }
    </tbody>
</table>
